---
import Layout from "@layouts/Layout.astro";
import LoginForm from "@components/LoginForm";
---

<Layout title="Login">
  <div class="text-center space-y-4 max-w-md mx-auto py-8 px-2 grow">
    <h1 class="text-3xl font-bold">Login</h1>
    <LoginForm client:load />
    <h1>
      Don't have an account? <a
        href="/signup"
        class="px-3 py-1 md:px-4 md:py-2 bg-white text-[#0046BE] rounded text-sm md:text-base">
        Sign Up
      </a>
    </h1>
  </div>
</Layout>
