---
const { bread } = Astro.props
---

{
  bread.length !== 0 && (
    <div class='bg-[#003DA6] px-20 py-4 text-white flex items-center gap-2'>
      {bread.map((b:string) => (
        <svg
        width='6'
        height='9'
        viewBox='0 0 6 9'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'>
        <path
          d='M5.25017 4.00016C5.25257 4.06847 5.24094 4.13655 5.21601 4.20019C5.19107 4.26382 5.15334 4.32167 5.10517 4.37016L1.65017 7.87016C1.6033 7.92172 1.54618 7.96292 1.48246 7.99111C1.41875 8.0193 1.34984 8.03386 1.28017 8.03386C1.21049 8.03386 1.14159 8.0193 1.07787 7.99111C1.01415 7.96292 0.957031 7.92172 0.910168 7.87016C0.812153 7.77096 0.757187 7.63712 0.757187 7.49766C0.757187 7.3582 0.812153 7.22437 0.910168 7.12516L3.96017 4.00016L0.895168 0.910161C0.797153 0.810957 0.742188 0.677119 0.742188 0.537661C0.742188 0.398203 0.797153 0.264365 0.895168 0.165161C0.942031 0.113602 0.999153 0.0724066 1.06287 0.0442166C1.12659 0.0160267 1.19549 0.00146484 1.26517 0.00146484C1.33484 0.00146484 1.40375 0.0160267 1.46746 0.0442166C1.53118 0.0724066 1.5883 0.113602 1.63517 0.165161L5.09017 3.66516C5.18452 3.75216 5.2418 3.8721 5.25017 4.00016Z'
          fill='black'
          />
      </svg>
      <p>{b.split('/').pop()}</p>
      ))}
    </div>
  )
}
