---
interface Props {
  title: string;
  description: string;
  image?: string;
  class?: string;
}

const { title, description, image, class: className } = Astro.props;
---

<div
  style="background: linear-gradient(270deg, #CECECE 0%, rgba(255, 255, 255, 0) 50%, #CECECE 100%);"
  class:list={["w-full flex justify-center", className]}>
  <div
    class="max-md:flex-col flex px-8 md:px-14 py-8 gap-10 md:gap-20 items-center justify-center">
    <img
      src={image || "imgg.png"}
      alt={title}
      class="rounded-md w-full md:w-[200px] lg:w-[500px]"
      loading="lazy"
    />
    <div class="space-y-2 md:space-y-8 grow">
      <h2 class="text-4xl font-bold tracking-tight max-w-[400px]">
        {title}
      </h2>
      <p class="text-lg text-slate-600 leading-relaxed">
        {description}
      </p>
      <slot />
    </div>
  </div>
</div>
